
@{
    ViewBag.Title = "Add New Entry";
}

<h2>Add New Entry</h2>
<form method="POST" action="">
    <fieldset>
        Enter your name: <br />
        <input type="text" name="Name" maxlength="100"/>
        <br/>
        <br/>
        Enter message: <br/>
        <textarea name="Message" rows="10" cols="40"></textarea>
        <br/>
        <br/>
        <input type="submit" value="Send away"/>
    </fieldset>
</form>

