
@{
    ViewBag.Title = "Index";
}

<h2>Guestbook Entries</h2>
<p>
    <a href="/Guestbook/Create">Add a new entry</a>
</p>
@foreach (var e in ViewBag.Entries)
{
    <section class ="contact">
        <header>
            <h3>@e.Message</h3>
        </header>
        <p>Posted by @e.Name on @e.DateAdded.ToLongDateString()</p>
    </section>
}

